In [2]:
import numpy as np
import pandas as pd
import random

# Accent

In [70]:
df = pd.read_csv("PAPERS/ForPaper/Tabular/Accent/raw/accent-mfcc-data-1.csv")
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,class
0,7.071476,-6.512900,7.650800,11.150783,-7.657312,12.484021,-11.709772,3.426596,1.462715,-2.812753,0.866538,-5.244274,ES
1,10.982967,-5.157445,3.952060,11.529381,-7.638047,12.136098,-12.036247,3.491943,0.595441,-4.508811,2.332147,-6.221857,ES
2,7.827108,-5.477472,7.816257,9.187592,-7.172511,11.715299,-13.847214,4.574075,-1.687559,-7.204041,-0.011847,-6.463144,ES
3,6.744083,-5.688920,6.546789,9.000183,-6.924963,11.710766,-12.374388,6.169879,-0.544747,-6.019237,1.358559,-6.356441,ES
4,5.836843,-5.326557,7.472265,8.847440,-6.773244,12.677218,-12.315061,4.416344,0.193500,-3.644812,2.151239,-6.816310,ES

In [71]:
df['class'] = df['class'].map({k: i for i, k in enumerate(df['class'].unique())})
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,class
0,7.431262,-3.711100,-0.360168,3.869134,-8.228539,10.636192,-13.482686,4.417115,0.622808,-1.434304,5.317209,-8.697709,2
1,5.818891,-2.479246,2.087605,3.911587,-6.988192,10.437128,-13.755028,5.922611,0.714205,-1.518099,4.627938,-8.775748,2
2,8.362028,-11.638568,8.298674,3.069836,-10.653493,11.538437,-12.212941,4.057472,2.967134,-4.070457,-0.382389,-4.890732,5
3,13.161715,-4.130187,4.854014,9.063330,-15.148877,8.619403,-7.817271,3.143747,3.526086,-5.321992,-0.702299,-6.010889,5
4,8.689475,-6.863668,-0.783396,8.685747,-8.130607,8.851329,-9.931361,3.009161,0.306991,-4.795814,5.040170,-1.852318,5

In [72]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/full/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/full/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/full/test.csv", index=True)

In [73]:
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 1):
        if random.random() < 0.5:
            df.iloc[i, j] = np.nan

In [74]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Accent/processed/test.csv", index=True)

# Ecoli

In [75]:
df = np.loadtxt("PAPERS/ForPaper/Tabular/Ecoli/raw/ecoli.data", dtype=str)
df = pd.DataFrame(df)
df.drop(columns=[0], inplace=True)
df = df.rename(columns={df.shape[1]: "class"})

df['class'] = df['class'].map({k: i for i, k in enumerate(df['class'].unique())})
df = df.sample(frac=1).reset_index(drop=True)

df.head()

      1     2     3     4     5     6     7  class
0  0.63  1.00  0.48  0.50  0.35  0.51  0.49      7
1  0.25  0.26  0.48  0.50  0.39  0.32  0.42      0
2  0.36  0.42  0.48  0.50  0.53  0.32  0.41      0
3  0.29  0.28  0.48  0.50  0.50  0.42  0.50      0
4  0.47  0.47  0.48  0.50  0.22  0.16  0.26      0

In [76]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/full/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/full/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/full/test.csv", index=True)

In [77]:
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 1):
        if random.random() < 0.5:
            df.iloc[i, j] = np.nan

In [78]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Ecoli/processed/test.csv", index=True)

In [79]:
df.head()

      1     2     3     4     5     6     7  class
0  0.63   NaN   NaN  0.50  0.35   NaN  0.49      7
1   NaN   NaN   NaN   NaN  0.39   NaN  0.42      0
2  0.36   NaN  0.48   NaN  0.53   NaN  0.41      0
3   NaN  0.28   NaN   NaN   NaN  0.42   NaN      0
4   NaN   NaN  0.48  0.50  0.22  0.16   NaN      0

In [80]:
df["class"].value_counts()

0    143
1     77
7     52
4     35
5     20
6      5
3      2
2      2
Name: class, dtype: int64

# Credit

In [88]:
df = pd.read_csv("PAPERS/ForPaper/Tabular/Credit/raw/UCI_Credit_Card.csv")
df.rename(columns={df.columns[-1]: "class"}, inplace=True)

dummies_cols = set(filter(lambda col: df[col].unique().shape[0] <= 7, df.columns)) - {"class"}
df = pd.get_dummies(df, columns=dummies_cols)
df.head()

Y = df["class"]
X = df.drop(columns=["class"])
df = pd.concat([X, Y], axis=1)
df = df.sample(frac=1).reset_index(drop=True)

df.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,EDUCATION_0,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,SEX_1,SEX_2,class
0,80000,27,1,4,3,2,0,0,84718,82861,...,0,0,0,1,0,0,0,0,1,1
1,250000,27,0,0,0,0,0,0,144525,183569,...,0,1,0,0,0,0,0,1,0,0
2,40000,42,-1,2,-1,0,0,-1,1978,1415,...,0,0,0,1,0,0,0,1,0,0
3,220000,28,-1,-1,-2,-2,-2,-2,3700,0,...,0,0,1,0,0,0,0,0,1,1
4,460000,34,-1,0,0,0,0,0,11689,12911,...,0,1,0,0,0,0,0,0,1,0

In [89]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/full/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/full/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/full/test.csv", index=True)

In [90]:
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 1):
        if random.random() < 0.2:
            df.iloc[i, j] = np.nan

In [92]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Credit/processed/test.csv", index=True)

# Sonar

In [96]:
df = pd.read_csv("PAPERS/ForPaper/Tabular/Sonar/raw/sonar_all_data.csv", header=None)
df = df.rename(columns={df.shape[1] - 1: "class"})
df['class'] = df['class'].map({k: i for i, k in enumerate(df['class'].unique())})
df = df.sample(frac=1).reset_index(drop=True)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,class
0,0.0096,0.0404,0.0682,0.0688,0.0887,0.0932,0.0955,0.2140,0.2546,0.2952,...,0.0237,0.0078,0.0144,0.0170,0.0012,0.0109,0.0036,0.0043,0.0018,1
1,0.0409,0.0421,0.0573,0.0130,0.0183,0.1019,0.1054,0.1070,0.2302,0.2259,...,0.0028,0.0036,0.0105,0.0120,0.0087,0.0061,0.0061,0.0030,0.0078,0
2,0.0235,0.0291,0.0749,0.0519,0.0227,0.0834,0.0677,0.2002,0.2876,0.3674,...,0.0083,0.0037,0.0095,0.0105,0.0030,0.0132,0.0068,0.0108,0.0090,0
3,0.0530,0.0885,0.1997,0.2604,0.3225,0.2247,0.0617,0.2287,0.0950,0.0740,...,0.0244,0.0199,0.0257,0.0082,0.0151,0.0171,0.0146,0.0134,0.0056,1
4,0.0217,0.0152,0.0346,0.0346,0.0484,0.0526,0.0773,0.0862,0.1451,0.2110,...,0.0123,0.0067,0.0011,0.0026,0.0049,0.0029,0.0022,0.0022,0.0032,1

In [97]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/full/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/full/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/full/test.csv", index=True)

In [98]:
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 1):
        if random.random() < 0.5:
            df.iloc[i, j] = np.nan

In [99]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Sonar/processed/test.csv", index=True)

# Wine

In [4]:
df = pd.read_csv("PAPERS/ForPaper/Tabular/Wine/raw/winequality-white.csv", sep=";")
df.rename(columns={df.columns[-1]: "class"}, inplace=True)
df['class'] = df['class'].map({k: i for i, k in enumerate(df['class'].unique())})

df = df.sample(frac=1).reset_index(drop=True)

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,class
0,6.6,0.350,0.35,6.0,0.063,31.0,150.0,0.99537,3.10,0.47,9.4,0
1,7.3,0.200,0.26,1.6,0.040,36.0,123.0,0.99238,3.34,0.44,10.8,0
2,6.3,0.695,0.55,12.9,0.056,58.0,252.0,0.99806,3.29,0.49,8.7,1
3,5.0,0.455,0.18,1.9,0.036,33.0,106.0,0.98746,3.21,0.83,14.0,2
4,5.7,0.200,0.30,2.5,0.046,38.0,125.0,0.99276,3.34,0.50,9.9,0

In [5]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/full/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/full/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/full/test.csv", index=True)

In [6]:
for i in range(df.shape[0]):
    for j in range(df.shape[1] - 1):
        if random.random() < 0.5:
            df.iloc[i, j] = np.nan

In [7]:
train_df = df.iloc[:int(len(df)*0.64)]
val_df = df.iloc[int(len(df)*0.64):int(len(df)*0.8)]
test_df = df.iloc[int(len(df)*0.8):]

train_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/train.csv", index=True)
val_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/val.csv", index=True)
test_df.to_csv("PAPERS/ForPaper/Tabular/Wine/processed/test.csv", index=True)